@import "tailwindcss";

@theme {
    --color-custom-brown-dark: #31081F;
    --color-custom-brown: #A89B8C;
    --color-custom-brown-light: #c0b1a0;
    --color-custom-blue: #37515F;
    --color-custom-green: #EDF0DA;
    --color-custom-charcoal: #302C39;
    --color-custom-charcoal-dark: #1B1724;
}

@custom-variant dark (&:where(.dark, .dark *));


html,
body {
    height: 100%;
    font-size: 16px;
}


h3,
h4,
h5,
h6 {
    color: var(--color-custom-brown-dark);
}

.dark h3,
.dark h4,
.dark h5,
.dark h6 {
    color: #FFF;
}

.box-shadow {
    box-shadow: 0px 0px 3px 4px rgba(161, 161, 170, 0.5);
}

.dark .box-shadow {
    box-shadow: none;
}


@layer components {
    .container {
        max-width: 64rem !important;
        margin-left: auto;
        margin-right: auto;
    }

    .avatar-fixed {
        position: fixed;
        top: theme("spacing.12");
    }

    .active {
        position: relative;
    }

    .active::before,
    .active::after {
        content: "";
        display: block;
        position: absolute;
        height: 2px;
        background-image: linear-gradient(to right, rgba(49, 8, 31, 0), rgba(113, 63, 18, 0.7), rgba(49, 8, 31, 0));
        right: 2px;
        left: 2px;
        top: -9px;
    }

    .active::after {
        top: unset;
        bottom: -7px;
    }

    .dark .active::before,
    .dark .active::after {
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(237, 240, 218, 0.7), rgba(255, 255, 255, 0));

    }

    .card {
        border-style: solid;
        border-width: theme("borderWidth.DEFAULT");
        border-color: theme("colors.slate.200");
        padding: theme("padding.6");
    }

    .card--project {
        padding: theme("padding.10");
        padding-right: theme("padding.14");
        width: 100%;
        min-height: 600px;
    }

    .dark .card {
        border-color: theme(colors.neutral.600);
    }

    .btn {
        padding: theme("padding.2") theme("padding.7");
        color: theme("colors.white");
        background-color: theme(colors.custom-blue);
        border-radius: theme("borderRadius.full");
        font-weight: bold;
        font-size: theme("fontSize.sm");
        transition: all .3s;
    }


    .btn:hover {
        box-shadow: inset 1px 1px 4px theme(colors.custom-blue), inset -1px -1px 4px #ffffff, 1px 1px 4px theme(colors.custom-blue), -1px -1px 4px #ffffff;
    }

    .btn--outline {
        background-color: theme("colors.white");
        color: #31081F;
        border: 3px solid theme(colors.custom-blue);
    }

    .dark .btn--outline {
        background-color: inherit;
        color: inherit;
        border: 2px solid #FFF;
    }
}